organ: lung
display_name: "Lung Cancer"
version: "肺癌取扱い規約第9版"

sections:
  - id: basic
    title: "基本情報"
    fields:
      - name: modality
        label: "手術法"
        type: select
        options:
          - { code: "肺葉切除術", label: "肺葉切除術" }
          - { code: "区域切除術", label: "区域切除術" }
          - { code: "部分切除術", label: "部分切除術" }
          - { code: "肺全摘術", label: "肺全摘術" }
      - name: lobe
        label: "占拠部位"
        type: select
        options:
          - { code: "右上葉", label: "右上葉" }
          - { code: "中葉", label: "中葉" }
          - { code: "右下葉", label: "右下葉" }
          - { code: "左上葉", label: "左上葉" }
          - { code: "舌区", label: "舌区" }
          - { code: "左下葉", label: "左下葉" }
      - name: tumor_size
        label: "病変全体径(mm)"
        type: number
        input_width: 3.0rem;
      - name: invasion_size
        label: "最大充実成分径(mm)"
        type: number
        input_width: 3.0rem;

      - name: histologic_mix
        label: "組織型"
        type: histologic_mix
        rows: 5   # max number of rows (e.g. 3–5)

        types:
          - code: "AD"
            label: "Invasive non-mucinous adenocarcinoma"
            subtypes:
              - { code: "AD_lepidic", label: "Lepidic adenocarcinoma" }
              - { code: "AD_acinar", label: "Acinar adenocarcinoma" }
              - { code: "AD_pap", label: "Papillary adenocarcinoma" }
              - { code: "AD_micropap", label: "Micropapillary adenocarcinoma" }
              - { code: "AD_solid", label: "Solid adenocarcinoma" }
          - code: "IMA"
            label: "Invasive mucinous adenocarcinoma"
            subtypes:
              - { code: "IMA", label: "Invasive mucinous adenocarcinoma" }
              - { code: "mixed_IMA", label: "Mixed invasive mucinous and non-mucinous adenocarcinoma" }
          - code: "Other adenocarcinoma"
            label: "Other adenocarcinoma"
            subtypes:
              - { code: "Colloid adenocarcinoma", label: "Colloid adenocarcinoma" }
              - { code: "Fetal adenocarcinoma", label: "Fetal adenocarcinoma" }
              - { code: "Enteric-type adenocarcinoma", label: "Enteric-type adenocarcinoma" }
          - code: "MIA"
            label: "Minimally invasive adenocarcinoma"
            subtypes:
              - { code: "MIA_nonmuc", label: "Minimally invasive adenocarcinoma, nonmucinous" }
              - { code: "MIA_mucin", label: "Minimally invasive adenocarcinoma, mucinous" }
          - code: "AIS"
            label: "Adenocarcinoma in situ"
            subtypes:
              - { code: "AIS_nonmucinous", label: "Adenocarcinoma in situ, nonmucinous" }
              - { code: "AIS_mucinous", label: "Adenocarcinoma in situ, mucinous" }
          - code: "AAH"
            label: "Atypical adenomatous hyperplasia"
            subtypes:
              - { code: "AAH", label: "Atypical adenomatous hyperplasia" }
          - code: "SQ"
            label: "Squamous cell carcinoma"
            subtypes:
              - { code: "CIS", label: "Squamous dysplasia/squamous cell carcinoma in situ" }
              - { code: "SQ_keratin", label: "Squamous cell carcinoma, keratinizing type" }
              - { code: "SQ_nonker", label: "Squamous cell carcinoma, non-keratinizing type" }
              - { code: "SQ_basaloid",label: "Basaloid squamous cell carcinoma" }
              - { code: "LE",label: "Lymphoepithelial carcinoma" }              
          - code: "LCC"
            label: "Large cell carcinoma"
            subtypes:
              - { code: "Large cell carcinoma", label: "Large cell carcinoma" }
          - code: "ASQ"
            label: "Adenosquamous carcinoma"
            subtypes:
              - { code: "Adenosquamous carcinoma", label: "Adenosquamous carcinoma" }
          - code: "Neuroendocrine tumors"
            label: "Neuroendocrine tumors"
            subtypes:
            - { code: "NET_DIPNECH", label: "Diffuse idiopathic pulmonary neuroendocrine cell hyperplasia" }
            - { code: "NET_typical_carcinoid", label: "typical carcinoid/neuroendocrine tumor grade 1" }
            - { code: "NET_atypical_carcinoid", label: "atypical carcinoid/neuroendocrine tumor grade 2" }
            - { code: "SCLC", label: "Small cell carcinoma" }
            - { code: "SCLC_combined", label: "Combined small cell carcinoma" }
            - { code: "LCNEC", label: "Large cell neuroendocrine carcinoma" }
            - { code: "LCNEC_combined", label: "Combined large cell neuroendocrine carcinoma" }

          - code: "Bronchial papillomas"
            label: "Bronchial papillomas"
            subtypes:
              - { code: "Bronchial papilloma", label: "Bronchial papilloma" }
              - { code: "Squamous cell papilloma, NOS", label: "Squamous cell papilloma, NOS" }
              - { code: "Glandular papilloma", label: "Glandular papilloma" }
              - { code: "Mixed squamous cell and glandular papilloma", label: "Mixed squamous cell and glandular papilloma" }
          - code: "Adenomas"
            label: "Adenomas"
            subtypes:
              - { code: "Sclerosing pneumocytoma", label: "Sclerosing pneumocytoma" }
              - { code: "Alveolar adenoma", label: "Alveolar adenoma" }
              - { code: "Papillary adenoma", label: "Papillary adenoma" }
              - { code: "Bronchiolar adenoma/ciliated muconodular papillary tumor", label: "Bronchiolar adenoma/ciliated muconodular papillary tumor" }
              - { code: "Mucinous cystadenoma", label: "Mucinous cystadenoma" }
              - { code: "Mucous gland adenoma", label: "Mucous gland adenoma" }

          - code: "Sarcomatoid carcinomas"
            label: "Sarcomatoid carcinomas"
            subtypes:
              - { code: "Pleomorphic", label: "Pleomorphic carcinoma" }
              - { code: "Pulmonary blastoma", label: "Pulmonary blastoma" }
              - { code: "Carcinosarcoma", label: "Carcinosarcoma" }
          - code: "Other epithelial tumors"
            label: "Other epithelial tumors"
            subtypes:
              - { code: "NUT", label: "NUT carcinoma" }
              - { code: "SMARCA4", label: "Thoracic SMARCA4-deficient undifferentiated tumor" }
          - code: "Salivary gland-type tumors"
            label: "Salivary gland-type tumors"
            subtypes:
              - { code: "Pleomorphic adenoma", label: "Pleomorphic adenoma" }
              - { code: "Adenod cystic carcinoma", label: "Adenoid cystic carcinoma" }
              - { code: "Epithelial-myoepithelial carcinoma", label: "Epithelial-myoepithelial carcinoma" }
              - { code: "Mucoepidermoid carcinoma", label: "Mucoepidermoid carcinoma" }
              - { code: "Hyalinizing clear cell carcinoma", label: "Hyalinizing clear cell carcinoma" }
              - { code: "Myoepithelioma", label: "Myoepithelioma" }
              - { code: "Myoepithelial carcinoma", label: "Myoepithelial carcinoma" }
          - code: "Tumors of ectopic tissues"
            label: "Tumors of ectopic tissues"
            subtypes:
              - { code: "Melanoma", label: "Melanoma" }
              - { code: "Meningioma", label: "Meningioma" }
          - code: "Mesenchymal tumors"
            label: "Mesenchymal tumors"
            subtypes:
              - { code: "Pulmonary hamartoma", label: "Pulmonary hamartoma" }
              - { code: "Pulmonary chrondroma", label: "Pulmonary chondroma" }
              - { code: "Diffuse pulmonary lymphangiomatosis", label: "Diffuse pulmonary lymphangiomatosis" }
              - { code: "Pleuropulmonary blastoma", label: "Pleuropulmonary blastoma" }
              - { code: "Pulmonary artery intimal sarcoma", label: "Pulmonary artery intimal sarcoma" }
              - { code: "Pulmonary myxoid sarcoma with EWSR1-CREB1 fusion", label: "Pulmonary myxoid sarcoma with EWSR1-CREB1 fusion" }
              - { code: "Lymphangiomyomatosis", label: "Lymphangiomyomatosis" }
              - { code: "PEComa", label: "PEComa" }
          - code: "Haematolymphoid tumors"
            label: "Haematolymphoid tumors"
            subtypes:
              - { code: "MALT lymphoma", label: "MALT lymphoma" }
              - { code: "Diffuse large B-cell lymphoma, NOS", label: "Diffuse large B-cell lymphoma, NOS" }
              - { code: "Lymphomatoid granulomatosis, NOS, grade 1-3", label: "Lymphomatoid granulomatosis, NOS, grade 1-3" }
              - { code: "Intravascular large B-cell lymphoma", label: "Intravascular large B-cell lymphoma" }
              - { code: "Langerhans cell histiocytosis", label: "Langerhans cell histiocytosis" }
              - { code: "Erdheim-Chester disease", label: "Erdheim-Chester disease" }

      - name: description
        label: "組織学的記載"
        type: textarea
        rows: 3
        css_class: "description-textarea"
      - name: grade
        label: "Grade"
        type: radio
        options:
          - { code: "G1", label: "G1" }
          - { code: "G2", label: "G2" }
          - { code: "G3", label: "G3" }
          - { code: "NA", label: "NA", default: true }
      - name: stas
        label: "STAS"
        type: radio
        default: "NA"
        options:
          - { code: "STAS-0", label: "STAS-0" }
          - { code: "STAS-1", label: "STAS-1" }
          - { code: "STAS-X", label: "STAS-X" }
          - { code: "NA", label: "NA", default: true }
      - name: rm
        label: "切除マージンまでの距離(mm)"
        type: number
        input_width: 3.0rem;
        visible_if:
          field: modality
          values:
            - "区域切除術"
            - "部分切除術"
      - name: pm
        label: "肺内転移"
        type: radio
        options:
          - { code: "pm0", label: "pm0", help: "肺内転移を認めない" }
          - { code: "pm1", label: "pm1", help: "原発巣と同一肺葉のみに肺内転移を認める" }
          - { code: "pm2", label: "pm2", help: "原発巣と同側の異なる肺葉に肺内転移を認める" }
          - { code: "pm3", label: "pm3", help: "原発巣の対側肺に肺内転移を認める" }
      - name: pl
        label: "胸膜浸潤"
        type: radio
        options:
          - { code: "pl0", label: "pl0", help: "癌組織が臓側胸膜外弾性板を越えていない" }
          - { code: "pl1", label: "pl1", help: "癌組織が臓側胸膜外弾性板を超えて浸潤しているが、臓側胸膜表面に達していない" }
          - { code: "pl2", label: "pl2", help: "癌組織が臓側胸膜表面に露出している" }
          - { code: "pl3", label: "pl3", help: "癌組織が壁側胸膜を越えて胸壁、横隔膜、縦隔臓器、または羊羹を越えて隣接肺葉に浸潤している" }
      - name: ly
        label: "リンパ管侵襲"
        type: radio
        options:
          - { code: "Ly0", label: "Ly0", help: "" }
          - { code: "Ly1", label: "Ly1", help: "" }
          - { code: "LyX", label: "LyX", help: "" }
      - name: v
        label: "血管侵襲"
        type: radio
        options:
          - { code: "V0", label: "V0", help: "" }
          - { code: "V1", label: "V1", help: "" }
          - { code: "VX", label: "VX", help: "" }
      - name: pn
        label: "神経周囲侵襲"
        type: radio
        options:
          - { code: "Pn0", label: "Pn0", help: "" }
          - { code: "Pn1", label: "Pn1", help: "" }
          - { code: "PnX", label: "PnX", help: "" }
      - name: effusion_cytology
        label: "胸水細胞診"
        type: radio
        options:
          - { code: "neg",         label: "E(-)",   help: "Negative cytology" }
          - { code: "equivocal",   label: "E(±)",   help: "Equivocal / atypical cells" }
          - { code: "pos",         label: "E(+)",   help: "Positive for malignancy" }
          - { code: "inadequate",  label: "E(不適)", help: "Inadequate / unsatisfactory specimen" }
          - { code: "not_examined", label: "E(未検)", default: true, help: "Cytology not performed" }
      - name: PLC
        label: "胸腔内洗浄細胞診"
        type: radio
        options:
          - { code: "neg",         label: "PLC(-)",   help: "Negative cytology" }
          - { code: "equivocal",   label: "PLC(±)",   help: "Equivocal / atypical cells" }
          - { code: "pos",         label: "PLC(+)",   help: "Positive for malignancy" }
          - { code: "inadequate",  label: "PLC(不適正)", help: "Inadequate / unsatisfactory specimen" }
          - { code: "not_examined", label: "PLC(未検)", default: true, help: "Cytology not performed" }
      - name: R
        label: "残存病変"
        type: radio
        options:
          - { code: "R0", label: "R0", default: true, help: "残存なし" }
          - { code: "R0(un)", label: "R0(un)", help: "残存不確定" }
          - { code: "R1", label: "R1", help: "残存不確定" }
          - { code: "R1(un)", label: "R1(un)", help: "顕微鏡的残存" }
          - { code: "R2", label: "R2", help: "肉眼的残存" }
          - { code: "RX", label: "RX", help: "不明" }
      - name: d
        label: "胸膜播種"
        type: radio
        options:
          - { code: "neg", label: "d(-)", default: true, help: "" }
          - { code: "pos", label: "d(+)", help: "" }
      - name: br
        label: "気管支断端"
        type: radio
        options:
          - { code: "neg", label: "br(-)", default: true, help: "" }
          - { code: "pos", label: "br(+)", help: "" }
      - name: pa
        label: "肺動脈断端"
        type: radio
        options:
          - { code: "neg", label: "pa(-)", default: true, help: "" }
          - { code: "pos", label: "pa(+)", help: "" }
      - name: pv
        label: "肺静脈断端"
        type: radio
        options:
          - { code: "neg", label: "pv(-)", default: true, help: "" }
          - { code: "pos", label: "pv(+)", help: "" }
      - name: cw
        label: "胸壁断端"
        type: radio
        options:
          - { code: "neg", label: "cw(-)", default: true, help: "" }
          - { code: "pos", label: "cw(+)", help: "" }
      - name: pp
        label: "壁側胸膜断端"
        type: radio
        options:
          - { code: "neg", label: "pp(-)", default: true, help: "" }
          - { code: "pos", label: "pp(+)", help: "" }
      - name: medp
        label: "縦隔胸膜断端"
        type: radio
        options:
          - { code: "neg", label: "medp(-)", default: true, help: "" }
          - { code: "pos", label: "medp(+)", help: "" }
      - name: medft
        label: "縦隔脂肪織断端"
        type: radio
        options:
          - { code: "neg", label: "medft(-)", default: true, help: "" }
          - { code: "pos", label: "medft(+)", help: "" }
      - name: metastatic_sites
        label: "転移臓器"
        type: checkbox
        options:
          - { code: "PUL", label: "肺" }
          - { code: "MAR", label: "骨髄" }
          - { code: "OSS", label: "骨" }
          - { code: "PLE", label: "胸膜" }
          - { code: "LYM", label: "リンパ節" }
          - { code: "HEP", label: "肝" }
          - { code: "PER", label: "腹膜" }
          - { code: "BRA", label: "脳" }
          - { code: "ADR", label: "副腎" }
          - { code: "SKI", label: "皮膚" }
          - { code: "OTH", label: "その他" }
  - id: nodal_metastasis
    title: "リンパ節転移"
    fields:
      - name: nodal_stations
        label: "リンパ節"
        type: nodal_stations
        stations:
          - { code: "1R", label: "1R" }
          - { code: "1L", label: "1L" }
          - { code: "2R", label: "2R" }
          - { code: "2L", label: "2L" }
          - { code: "3a", label: "3a" }
          - { code: "3p", label: "3p" }
          - { code: "4R", label: "4R" }
          - { code: "4L", label: "4L" }
          - { code: "5", label: "5" }
          - { code: "6", label: "6" }
          - { code: "7", label: "7" }
          - { code: "8", label: "8" }
          - { code: "9", label: "9" }
          - { code: "10", label: "10" }
          - { code: "11", label: "11" }
          - { code: "12", label: "12" }
          - { code: "13", label: "13" }
          - { code: "14", label: "14" }
  - id: tnm
    title: "TNM分類"
    fields:
      - name: pT
        label: "pT"
        type: radio
        options:
          - { code: "T0", label: "T0", help: "原発腫瘍を認めない" }
          - { code: "Tis", label: "Tis", help: "上皮内癌：浸潤成分を認めない" }
          - { code: "T1mi", label: "T1mi", help: "微小浸潤性腺癌：最大充実成分径 ≤ 0.5 cmでかつ病変全体径 ≤ 3 cm" }
          - { code: "T1a", label: "T1a", help: "最大充実成分径 ≤ 1 cm" }
          - { code: "T1b", label: "T1b", help: "最大充実成分径 > 1-2 cm" }
          - { code: "T1c", label: "T1c", help: "最大充実成分径 > 2-3 cm" }
          - { code: "T2a", label: "T2a", help: "最大充実成分径 > 3-4 cm、または最大充実成分径 ≤ 3cmで以下のいずれかであるもの: 臓側胸膜浸潤、隣接する肺葉に浸潤、腫瘍が主気管支に及ぶが気管分岐部には及ばないか、肺門まで連続する部分的または一側全体の無気肺か閉塞性肺炎がある" }
          - { code: "T2b", label: "T2b", help: "最大充実成分径 > 4-5 cm" }
          - { code: "T3", label: "T3", help: "最大充実成分径 > 5-7 cmまたは大きさを問わず以下のいずれかであるもの: " }
          - { code: "T4", label: "T4", help: "腫瘍が以下を満たす場合：最大充実成分径 > 7 cmまたは大きさを問わず以下のいずれかであるもの: " }
          - { code: "TX", label: "TX", help: "原発腫瘍の局在を判定できない" }
      - name: pN
        label: "pN"
        type: radio
        options:
          - { code: "N0", label: "N0", help: "所属リンパ節転移なし" }
          - { code: "N1", label: "N1", help: "同側肺門・気管支周囲・肺内リンパ節転移" }
          - { code: "N2a", label: "N2a", help: "同側縦隔・気管分岐下リンパ節転移: 単一N2ステーションへの転移" }
          - { code: "N2b", label: "N2b", help: "同側縦隔・気管分岐下リンパ節転移: 複数N2ステーションへの転移" }
          - { code: "N3", label: "N3", help: "対側縦隔・対側肺門・同側または対側の斜角筋・鎖骨上窩リンパ節への転移" }
          - { code: "NX", label: "NX", help: "所属リンパ節評価不能" }
      - name: pM
        label: "pM"
        type: radio
        options:
          - { code: "M0", label: "M0", help: "遠隔転移なし" }
          - { code: "M1a", label: "M1a", help: "同側/対側肺内多発結節や悪性胸水・心嚢水" }
          - { code: "M1b", label: "M1b", help: "胸腔外一臓器への単発遠隔転移" }
          - { code: "M1c1", label: "M1c1", help: "胸腔外一臓器への多発転移" }
          - { code: "M1c2", label: "M1c2", help: "胸腔外多臓器への多発転移" }
      - name: effect
        label: "病理学的治療効果判定"
        type: radio
        options:
          - { code: "NA", label: "術前治療非施行例", default: true, help: "術前治療非施行例" }
          - { code: "Ef.0", label: "Ef.0", help: "無効: 癌組織(腫瘍床)に治療による編成、壊死などの携帯学的変化を認めない" }
          - { code: "Ef.1a", label: "Ef.1a", help: "ごく軽度の効果: 癌組織(腫瘍床)の2/3以上が生存し得ると判断される癌細胞で占められている" }
          - { code: "Ef.1b", label: "Ef.1b", help: "軽度の効果: 癌組織(腫瘍床)の1/3以上2/3未満に生存し得ると判断される癌細胞が認められる" }
          - { code: "Ef.2", label: "Ef.2", help: "中等度の効果: 癌組織(腫瘍床)の1/3未満に生存し得ると判断される癌細胞が残存している" }
          - { code: "Ef.2-MPR", label: "Ef.2-MPR", help: "中等度の効果: Major pathologic response: RVTが10%以下の場合" }
          - { code: "Ef.3", label: "Ef.3-MPR", help: "著効: 癌細胞が腫瘍床において全く認められないか、残存していても生存し得ないと判断される" }
          - { code: "Ef.3-pCR", label: "Ef.3-pCR", help: "著効: RVTが0かつリンパ節などにもRVTが存在しない場合" }
      - name: rvt
        label: "残存生存腫瘍率(RVT %)"
        type: number
        min: 0
        max: 100
        step: 1
        input_width: 3.0rem;
        visible_if:
          field: effect
          values:
            - "Ef.1a"
            - "Ef.1b"
            - "Ef.2"
            - "Ef.2-MPR"
            - "Ef.3"
            - "Ef.3-pCR"

# Stage
tnm_stage_table:
  "Tis,N0,M0": "Stage 0"
  "T1mi,N0,M0": "Stage IA1"
  "T1a,N0,M0": "Stage IA1"
  "T1b,N0,M0": "Stage IA2"
  "T1c,N0,M0": "Stage IA3"
  "T2a,N0,M0": "Stage IB"
  "T1a,N1,M0": "Stage IIA"
  "T1b,N1,M0": "Stage IIA"
  "T1c,N1,M0": "Stage IIA"
  "T2b,N0,M0": "Stage IIA"
  "T1a,N2a,M0": "Stage IIB"
  "T1b,N2a,M0": "Stage IIB"
  "T1c,N2a,M0": "Stage IIB"
  "T2a,N1,M0": "Stage IIB"
  "T2b,N1,M0": "Stage IIB"
  "T3,N0,M0": "Stage IIB"
  "T1a,N2b,M0": "Stage IIIA"
  "T1b,N2b,M0": "Stage IIIA"
  "T1c,N2b,M0": "Stage IIIA"
  "T2a,N2a,M0": "Stage IIIA"
  "T2b,N2a,M0": "Stage IIIA"
  "T3,N1,M0": "Stage IIIA"
  "T3,N2a,M0": "Stage IIIA"
  "T4,N0,M0": "Stage IIIA"
  "T4,N1,M0": "Stage IIIA"
  "T1a,N3,M0": "Stage IIIB"
  "T1b,N3,M0": "Stage IIIB"
  "T1c,N3,M0": "Stage IIIB"
  "T2a,N2b,M0": "Stage IIIB"
  "T2a,N3,M0": "Stage IIIB"
  "T2b,N2b,M0": "Stage IIIB"
  "T2b,N3,M0": "Stage IIIB"
  "T3,N2b,M0": "Stage IIIB"
  "T4,N2a,M0": "Stage IIIB"
  "T4,N2b,M0": "Stage IIIB"
  "T3,N3,M0": "Stage IIIC"
  "T4,N3,M0": "Stage IIIC"
  "T*,N*,M1a": "Stage IVA"
  "T*,N*,M1b": "Stage IVA"
  "T*,N*,M1c": "Stage IVB"

template: "lung_report.j2"
